<p id="notice"><%= notice %></p>

<h1>Search</h1>

<%= form_tag(search_index_path, method: :get) do %>
<%= text_field_tag :term, params[:term] %>
<%= submit_tag 'Search' %>
<% end %>
<table>
  <thead>
    <tr>
      
      <th>Date began</th>
      <th>Country</th>
      <th>Main cause</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search.each do |search| %>
      <tr>
        <td><%= search.began %></td>
        <td><%= search.country.name %></td>
        <td><%= search.maincause %></td>
        <td><%= link_to 'Show', search %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Display Country data', jsondata_index_path %>
<br>
<%= will_paginate @search %>


