<p id="notice"><%= notice %></p>

<h1>Search</h1>

<%= form_tag(search_index_path, method: :get) do %>
<%= text_field_tag :term, params[:term] %>
<%= submit_tag 'Search' %>
<% end %>
<table>
  <thead>
    <tr>
   
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search.each do |search| %>
      <tr>
     
        <td><%= search.country.name %></td>
        <td><%= link_to 'Show', search %></td>
        <td><%= link_to 'Edit', edit_search_path(search) %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @search %>

<%= link_to 'New Search', new_search_path %>
