<p id="notice"><%= notice %></p>
<center>
  <h1>SEARCH FOR FLOOD INFORMATION</h1>
 <form class="form-inline my-2 my-lg-0" >
       <div class="col-sm-12">
      <%= form_tag(search_index_path, method: :get) do %>
      <%= text_field_tag :term, params[:term] %>
      <%= submit_tag 'Search' %>
    </div>
 </form>
 <% end %>
</center>
<table class="table table-bordered" style="margin-top:30px;">
  <thead class="thead-dark">
    <tr>     
     <th>Date began</th>
      <th>Country</th>
      <th>Main cause</th>
      <th>More Details</th>
    </tr>
  </thead>

  <tbody>
    <% @search.each do |search| %>
      <tr>
        <td><%= search.began %></td>
        <td><%= search.country.name %></td>
        <td><%= search.maincause %></td>
        <td><%= link_to 'More details', search %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>

<%= will_paginate @search %>

<center>

        <a type="button" class="btn btn-primary" <%= link_to 'DISPLAY ALL COUNTRY DETAILS', jsondata_index_path %></a>

</center>
